@use "variables" as var;

.page.contact{
    height: 100svh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 70px !important;
    padding-bottom: 20px !important;

    h1{
        font-size: 2rem;
        opacity: 0;
    }

    form{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 500px;

        .input-wrapper{
            position: relative;

            input{
                width: 100%;
                border: none;
                outline: none;
                border-radius: 3px;
                padding: 10px 20px;
                background: rgba(var.$light-color, 0.09);
                opacity: 0;
                border-bottom: 1px solid rgba(var.$light-color, 0.09);
            }

            .input-border {
                position: absolute;
                background: rgba(var.$accent-color, 0.3);
                width: 0%;
                height: 1px;
                bottom: 0;
                left: 0;
                transition: 0.3s;
            }

            input:valid ~ .input-border{
                background: var.$accent-color;
                width: 100%;
            }
            
            input:focus ~ .input-border {
                width: 100%;
            }
        }

        .textarea-wrapper{
            position: relative;

            textarea{
                width: 100%;
                height: 300px;
                border: none;
                outline: none;
                border-radius: 3px;
                padding: 10px 20px;
                background: rgba(var.$light-color, 0.09);
                opacity: 0;
                resize: none;
                border-bottom: 1px solid rgba(var.$light-color, 0.09);
            }

            .input-border {
                position: absolute;
                background: rgba(var.$accent-color, 0.3);
                width: 0%;
                height: 1px;
                bottom: 3px;
                left: 0;
                transition: 0.3s;
            }

            textarea:valid ~ .input-border{
                background: var.$accent-color;
                width: 100%;
            }
            
            textarea:focus ~ .input-border {
                width: 100%;
            }
        }
        
        

        button {
            font-family: inherit;
            font-weight: 500;
            padding: 0.7em 1em;
            padding-left: 0.9em;
            display: flex;
            align-items: center;
            border-radius: 16px;
            overflow: hidden;
            transition: all 0.2s;
            width: fit-content;
            background: none;
            border: 1px solid var.$accent-color;
            margin: auto;
            margin-top: 30px;
            cursor: pointer;
            opacity: 0;
            
            .svg-wrapper{
                svg{
                    display: block;
                    transform-origin: center center;
                    transition: transform 0.3s ease-in-out;

                    path.path-main{
                        transition: fill 0.3s ease-in-out;
                    }
                }
            }
        

            span{
                display: block;
                margin-left: 0.3em;
                transition: all 0.3s ease-in-out;
            }

            &.ready{
                .svg-wrapper{
                    animation: fly-1 0.6s ease infinite alternate;
                    
                    svg{
                        transform: translateX(1.2em) rotate(45deg) scale(1.1);
                    
                        path.path-main{
                            fill: var.$accent-color;
                        }
                    }
                }
                
                span{
                    transform: translateX(8em);
                    color: var.$accent-color;
                }

                @keyframes fly-1 {
                    0% {
                        transform: translateY(0.1em);
                    }
                    100% {
                        transform: translateY(-0.1em);
                    }
                }
            }

            &:active{
                transform: scale(0.95);
            }

            &.clicked{
                transform: scale(0.95);

                .svg-wrapper{
                    animation: fly-2 0.5s ease forwards;

                    svg{
                        transform: translateX(1.2em) rotate(45deg) scale(1.1);
                    
                        path.path-main{
                            fill: var.$accent-color;
                        }
                    }
                }

                span{
                    transform: translateX(8em);
                    color: var.$accent-color;
                }

                @keyframes fly-2 {
                    0% {
                        transform: translateX(0);
                    }
                    100% {
                        transform: translateX(8em);
                    }
                }
            }
        }
    }
}




// Animations
.page.contact{
    h1{
        animation: zoomIn .5s ease forwards;
        animation-delay: .1s;
    }

    form{
        input{
            &:nth-child(1){
                animation: fadeIn .5s ease forwards;
                animation-delay: .2s;
            }
            &:nth-child(2){
                animation: fadeIn .5s ease forwards;
                animation-delay: .3s;
            }
        }

        textarea{
            animation: fadeIn .5s ease forwards;
            animation-delay: .4s;
        }

        button{
            animation: zoomIn .5s ease forwards;
            animation-delay: .6s;
        }
    }
}





// Media Querys
@media (max-width: 700px) {
    .page.contact{
        h1{
            font-size: 1.9rem;
        }
    }
}

@media (max-width: 550px) {
    .page.contact{
        h1{
            font-size: 1.7rem;
        }

        form{
            width: 90%;

            button{
                font-size: .8rem;
                padding: 8px 20px;
            }
        }
    }
}

@media (max-width: 400px) {
    .page.contact{
        h1{
            font-size: 1.5rem;
        }
    }
}

// Height Querys
@media (max-height: 650px) {
    .page.contact {
        form{
            flex: 1;

            textarea{
                flex: 1;
                height: unset;
            }
        }
    }
}
