@use "variables" as var;

.page.project{
    padding: 0 40px;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;

    .return-btn{
        display: block;
        padding: 40px 0;
        font-size: 1.7rem;
        cursor: pointer;
        transition: all .5s ease;

        &:hover{
            color: var.$accent-color;
        }
    }

    h2{
        font-size: 3.8rem;
    }

    h3{
        font-size: 2rem;
        margin-top: 30px;
    }

    p{
        font-size: 1.1rem;
        margin-top: 10px;
        margin-bottom: 30px;
        width: 80%;
    }

    ul{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
        flex-wrap: wrap;

        li{
            display: inline-block;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 1rem;
            color: var.$accent-color;
            background: rgba(var.$accent-color, 0.09);
        }
    }

    .main-img{
        width: 80%;
        margin-top: 50px;
        border-radius: 5px;
    }

    h3.features{
        font-size: 2.5rem;
        margin-bottom: 30px;
        margin-top: 50px;
    }

    h4{
        font-size: 1.4rem;
        margin: 20px 0 8px 0;
    }

    span{
        display: block;
        margin-bottom: 20px;
        font-size: 1.1rem;
    }

    .video-wrapper{
        position: relative;
        margin-bottom: 30px;
        border-radius: 5px;
        font-size: 0; // deletes spacing
        display: inline-block;
        overflow: hidden;
        
        video{
            width: 100%;
            height: 100%;
            border-radius: 5px;
            opacity: 1;
            object-fit: fill;
        }

        &.desktop-view{
            width: 81%;
        }

        &.mobile-view{
            width: 18%;
            // set in js = same height as desktop view
        }

        // &.full-view{
            // set in js = same width as desktop + mobile view
        // }
            
        .play-overlay{
            position: absolute;
            inset: 0;
            border-radius: 10px;
            pointer-events: none;
            display: flex;
            align-items: center;
            justify-content: center;
            background: black;
            opacity: .2;
            transition: all .5s ease;

            &.hide{
                opacity: 0;
            }
            
            i{
                font-size: 3rem;
                opacity: 0;
                transition: all .5s ease;

                &.active{
                    opacity: 0.7; // inital status
                }
            }
        }

        // &:hover{
        //     .play-overlay{
        //         opacity: 0;
        //     }
        // }
    }

    &.leitenschenke{
        .full-view{
            margin-bottom: 10px; // reduced
        }
    }

    &.pong{
        .full-view{
            margin-top: 50px; // add spacing because there is no main-img
        }
    }

    .hosting-wrapper{
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 40px;
        position: relative;

        h4{
            margin-top: 0;
        }

        a{
            width: fit-content;
            background: none;
            border: 1px solid var.$accent-color;
            border-radius: 50px;
            padding: 10px 30px;
            font-weight: 500;
            cursor: pointer;
            transition: all .5s ease;

            &:hover{
                color: var.$accent-color;
            }
        }
    }
}


// Media Querys
@media (max-width: 1300px) {
    .page.project{
        padding: 0 20px;
    }
}

@media (max-width: 1100px) {
    .page.project{
        .return-btn{
            padding: 21px 0;
            padding-left: 80px;
            font-size: 1.6rem;
        }
    }
}

@media (max-width: 900px) {
    .page.project{
        h2{
            font-size: 3rem;
            margin-top: 10px;
        }

        h3{
            margin-top: 25px;
        }

        p{
            width: 90%;
        }

        .main-img{
            width: 90%;
        }
    }
}

@media (max-width: 800px) {
    .page.project{
        p{
            width: 100%;
        }

        .main-img{
            width: 100%;
        }

        .video-wrapper{
            &.mobile-view{
                display: none;
            }

            &.desktop-view{
                width: calc(100vw - 40px); // minus padding
            }
        }

        .hosting-wrapper{
            width: 100%;
        }
    }
}

@media (max-width: 800px) {
    .page.project{
        .return-btn{
            padding-bottom: 10px;
        }

        h3{
            font-size: 1.7rem;
            margin-top: 20px;
        }

        p{
            font-size: 1rem;
        }

        ul{
            li{
                font-size: .85rem;
            }
        }

        .main-img{
            margin-top: 40px;
        }

        h3.features{
            font-size: 2.2rem;
            margin-top: 35px;
            margin-bottom: 25px;
        }

        h4{
            font-size: 1.2rem;
        }

        span{
            font-size: 1rem;
        }

        .video-wrapper{
            margin-bottom: 20px;
        }

        .hosting-wrapper{
            width: 100%;
            margin-top: 30px;

            a{
                padding: 8px 20px;
                font-size: .9rem;
            }
        }
    }
}

@media (max-width: 500px) {
    .page.project{
        h2{
            font-size: 2.7rem;
        }

        h3{
            font-size: 1.6rem;
        }

        p{
            font-size: .95rem;
        }

        ul{
            li{
                font-size: .8rem;
            }
        }

        .main-img{
            margin-top: 30px;
        }

        h3.features{
            font-size: 2rem;
            margin-top: 30px;
            margin-bottom: 20px;
        }

        h4{
            font-size: 1.1rem;
        }

        span{
            font-size: .95rem;
        }

        .video-wrapper{
            margin-bottom: 15px;
        }

        .hosting-wrapper{
            margin-top: 35px;

            a{
                padding: 8px 20px;
                font-size: .9rem;
            }
        }
    }
}

@media (max-width: 400px) {
    .page.project{
        .hosting-wrapper{
            span{
                font-size: .85rem;
            }
        }
    }
}

@media (max-width: 370px) {
    .page.project{
        .hosting-wrapper{
            span{
                font-size: .8rem;
            }
        }
    }
}