@use "variables" as var;

#preloader {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: var.$dark-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  z-index: 9999;
  max-width: var.$max-width-limit;
  max-height: var.$max-height-limit;

  .loader {
    position: relative;
    height: 60px;
    width: 60px;
    box-sizing: content-box;
    padding: 10px;

    .square {
      background-color: var.$accent-color;
      height: 15px;
      width: 15px;
      position: absolute;

      &.square-1 {
        animation: load 2s infinite;
      }

      &.square-2 {
        animation: load 2s infinite;
        animation-delay: 1s;
      }
    }

    @keyframes load {
      0% {
        translate: 0px 0px;
        scale: 1;
        rotate: 0deg;
      }

      25% {
        translate: 40px 0px;
        scale: 0.5;
        rotate: -90deg;
      }

      50% {
        translate: 40px 40px;
        scale: 1;
        rotate: 180deg;
      }

      75% {
        translate: 0px 40px;
        scale: 0.5;
        rotate: 90deg;
      }
   }
  }

  #console{
    #console-output{
      #console-cursor {
        animation: blink 1s step-end infinite;
      }

      @keyframes blink {
        0%, 49%   { opacity: 1; }
        50%, 100% { opacity: 0; }
      }
    }
  }

  &.hidden {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    pointer-events: none;
  }
}

@media (max-width: 500px) {
  #preloader{
    #console{
      #console-output{
        font-size: .9rem;
      }
    }
  }
}