@use "variables" as var;

.sidebar{
    background: var.$dark-color;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100svh;
    padding: 75px 0 50px 0;
    display: none;

    .hamburger{
        display: none;
    }

    .profile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1{
            font-family: "Cormorant Garamond";
            font-size: 2rem;
            opacity: 0;
        }

        h2{
            font-family: "Cormorant Garamond";
            font-size: 1.2rem;
            opacity: 0;
        }
    }

    ul.navigation{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 30px;

        li{
            display: flex;
            align-items: center;
            gap: 13px;
            font-size: 1.1rem;
            cursor: pointer;
            transition: all .5s ease !important;
            pointer-events: none;
            opacity: 0;

            i{
                color: inherit;
                transition: all .5s ease;
            }
            
            &:hover{
                color: var.$accent-color;
            }
            
            &.active{
                color: var.$accent-color;
                scale: 1.01;
                transform: translateX(4px);
            }

            &:hover .rhombus .line{
                background: var.$accent-color;
                scale: 1.1;
                opacity: 0.6;
            }
            
            &.active .rhombus .line{
                background: var.$accent-color;
                scale: 1.15;
                opacity: 1;
            }

            .rhombus{
                position: relative;
                width: 13px;
                height: 13px;
                margin-right: 10px;
                
                .line{
                    background: white;
                    position: absolute;
                    height: 8px;
                    width: 1px;
                    transition: all .5s ease;
                    opacity: 0.2;

                    &.one{
                        top: 0;
                        left: 30%;
                        transform: translateX(-50%) rotate(45deg);
                    }

                    &.two{
                        top: 0;
                        left: 70%;
                        transform: translateX(-50%) rotate(-45deg);
                    }

                    &.three{
                        bottom: 0;
                        left: 30%;
                        transform: translateX(-50%) rotate(-45deg);
                    }

                    &.four{
                        bottom: 0;
                        left: 70%;
                        transform: translateX(-50%) rotate(45deg);
                    }
                }
            }
        }
    }

    .tech-stack{
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;

        span{
            font-size: 1.15rem;
            opacity: 0;
        }

        ul{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;

            li{
                display: inline-block;
                padding: 5px 10px;
                border-radius: 5px;
                font-size: .95rem;
                color: var.$accent-color;
                background: rgba(var.$accent-color, 0.05);
                opacity: 0;
            }
        }
    }

    .links{
        a{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            text-decoration: none;
            font-size: .8rem;
            transition: all .5s ease;
            opacity: 0;
            
            i{
                font-size: 1.5rem;
                color: inherit;
                transition: all .5s ease;
            }

            &:hover{
                color: var.$accent-color;
            }
        }
    }
}


// Animations
@media (min-width: 1100px) {
    .sidebar{
        .profile{
            h1{
                animation: fadeIn .5s forwards ease;
                animation-delay: 2s;
            }

            h2{
                animation: fadeInLight .5s forwards ease;
                animation-delay: 2.2s;
            }
        }

        ul.navigation{
            li{
                &:nth-child(1){
                    animation: fadeIn .5s forwards ease;
                    animation-delay: 2.4s;
                }
                &:nth-child(2){
                    animation: fadeIn .5s forwards ease;
                    animation-delay: 2.6s;
                }
                &:nth-child(3){
                    animation: fadeIn .5s forwards ease;
                    animation-delay: 2.8s;
                }
            }
        }

        .tech-stack{
            span{
                animation: fadeIn .5s forwards ease;
                animation-delay: 3s;
            }

            ul{
                li{
                    &:nth-child(1){
                        animation: fadeIn .5s forwards ease;
                        animation-delay: 3.2s;
                    }
                    &:nth-child(2){
                        animation: fadeIn .5s forwards ease;
                        animation-delay: 3.3s;
                    }
                    &:nth-child(3){
                        animation: fadeIn .5s forwards ease;
                        animation-delay: 3.4s;
                    }
                    &:nth-child(4){
                        animation: fadeIn .5s forwards ease;
                        animation-delay: 3.5s;
                    }
                    &:nth-child(5){
                        animation: fadeIn .5s forwards ease;
                        animation-delay: 3.6s;
                    }
                    &:nth-child(6){
                        animation: fadeIn .5s forwards ease;
                        animation-delay: 3.7s;
                    }
                }
            }
        }

        .links{
            a{
                animation: fadeIn .5s forwards ease;
                animation-delay: 3.9s;
            }
        }
    }
}


@media (max-width: 1100px) {
    .sidebar.initial-open{
        .profile{
            h1{
                animation: fadeIn .5s forwards ease;
                animation-delay: .2s;
            }

            h2{
                animation: fadeInLight .5s forwards ease;
                animation-delay: .4s;
            }
        }

        ul.navigation{
            li{
                &:nth-child(1){
                    animation: fadeIn .5s forwards ease;
                    animation-delay: .6s;
                }
                &:nth-child(2){
                    animation: fadeIn .5s forwards ease;
                    animation-delay: .8s;
                }
                &:nth-child(3){
                    animation: fadeIn .5s forwards ease;
                    animation-delay: 1s;
                }
            }
        }

        .tech-stack{
            span{
                animation: fadeIn .5s forwards ease;
                animation-delay: 1.2s;
            }

            ul{
                li{
                    &:nth-child(1){
                        animation: fadeIn .5s forwards ease;
                        animation-delay: 1.3s;
                    }
                    &:nth-child(2){
                        animation: fadeIn .5s forwards ease;
                        animation-delay: 1.4s;
                    }
                    &:nth-child(3){
                        animation: fadeIn .5s forwards ease;
                        animation-delay: 1.5s;
                    }
                    &:nth-child(4){
                        animation: fadeIn .5s forwards ease;
                        animation-delay: 1.6s;
                    }
                    &:nth-child(5){
                        animation: fadeIn .5s forwards ease;
                        animation-delay: 1.7s;
                    }
                    &:nth-child(6){
                        animation: fadeIn .5s forwards ease;
                        animation-delay: 1.8s;
                    }
                }
            }
        }

        .links{
            a{
                animation: fadeIn .5s forwards ease;
                animation-delay: 2s;
            }
        }
    }
}




// Media Querys
@media (max-width: 1100px) {
    .sidebar{
        position: absolute;
        transform: translateX(-100%);
        z-index: 99;
        transition: all .5s ease;

        .hamburger{
            display: block;
            width: 25px;
            height: 21px;
            position: absolute;
            top: 20px;
            right: 0px;
            transform: translateX(170%);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transition: all .5s ease;
            pointer-events: none;
            // Animation
            animation: fadeIn .5s ease forwards;
            animation-delay: 1.5s;
            opacity: 0;

            &::before{
                content: "";
                position: absolute;
                inset: -8px;
                background: rgba(var.$dark-color, 0.7);
                backdrop-filter: blur(2px);
                z-index: -1;
                border-radius: 10px;
            }

            .line{
                height: 3px;
                background: white;
                border-radius: 10px;
                transition: all .5s ease;

                &.one{
                    width: 100%;
                }
                
                &.two{
                    width: 80%;
                }

                &.three{
                    width: 60%;
                }
            }
            
            &.toX{
                transform: translateX(-100%);

                .line{
                    &.one{
                        transform: rotate(-45deg) translateY(13px);
                        width: 70%;
                    }

                    &.two{
                        width: 0;
                        opacity: 0;
                        transform: translateX(-100%);
                        transition: all .2s ease; // overwrite to hide this line quicker
                    }

                    &.three{
                        width: 70%;
                        transform: rotate(45deg) translateY(-13px);
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .sidebar{
        .profile{
            h1{
                font-size: 1.7rem;
            }
            h2{
                font-size: 1.1rem;
            }
        }

        ul.navigation{
            gap: 25px;

            li{
                font-size: 1rem;

                .rhombus{
                    width: 12px;
                    height: 12px;

                    .line{
                        height: 7px;
                    }
                }
            }
        }

        .tech-stack{
            span{
                font-size: 1rem;
            }

            ul{
                li{
                    font-size: .9rem;
                }
            }
        }

        .links{
            a{
                font-size: .7rem;

                i{
                    font-size: 1.3rem;
                }
            }
        }
    }
}

@media (max-height: 650px) {
    .sidebar{
        padding-bottom: 35px;
    }
}

@media (max-height: 600px) {
    .sidebar{
        padding-bottom: 30px;
        padding-top: 60px;
    }
}