@use "variables" as var;
@use "sidebar";
@use "page-projects";
@use "page-contact";
@use "page-about";
@use "page-project";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var.$font-color;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    list-style: none;
    scrollbar-width: thin;
    scrollbar-color: rgba(var.$accent-color, 0.8) transparent;
    -webkit-tap-highlight-color: transparent;
}

html{
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

body{
    display: flex;
    position: relative;
    overflow: hidden;

    h1{
        font-family: "Cormorant Garamond";
    }
    h2{
        font-family: "Cormorant Garamond";
    }
    h3{
        font-family: "Cormorant Garamond";
    }

    // Spotlight
    .spotlight{
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        pointer-events: none;
        background: radial-gradient(rgba(var.$accent-color, 0.05), transparent, transparent);
        width: 900px;
        height: 900px;
    }

    .window{
        flex: 1;
        background: var.$dark-color;

        .page{
            display: none;

            &.active{
                display: block;
            }

            &.contact.active{
                display: flex;
            }
        }
    }
}