// Media Limit for this page's responsiveness: height: >650 <1200 - width: >350 <2400

@use "variables" as var;
@use "sidebar";
@use "page-projects";
@use "page-contact";
@use "page-about";
@use "page-project";
@use "preloader";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var.$font-color;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    list-style: none;
    -webkit-tap-highlight-color: transparent;

    // Webkit scrollbar
    &::-webkit-scrollbar{
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background: none;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(var.$accent-color, 0.8);
        border-radius: 2px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: var.$accent-color;
    }
    &::-webkit-scrollbar-corner {
        background: none;
    }

    @media (max-width: 1500px) {
        &::-webkit-scrollbar{
            width: 3px;
        }
    }
}

// Firefox scrollbar
@-moz-document url-prefix() {
  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(var.$accent-color, 0.8) transparent;
  }
}

html{
    overflow: hidden;
    height: 100svh;
    width: 100%;
}

body{
    position: relative;
    overflow: hidden;
    background: var.$dark-color;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100svh;
    
    .max-container{
        display: flex;
        position: relative;
        max-width: var.$max-width-limit;
        max-height: var.$max-height-limit;
        width: 100%;
    }
    
    h1{
        font-family: "Cormorant Garamond";
    }
    h2{
        font-family: "Cormorant Garamond";
    }
    h3{
        font-family: "Cormorant Garamond";
    }

    // Spotlight
    .spotlight{
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        pointer-events: none;
        background: radial-gradient(rgba(var.$accent-color, 0.05), transparent, transparent);
        width: 900px;
        height: 900px;
        z-index: 9999999999999;
    }

    .window{
        flex: 1;
        background: var.$dark-color;
        max-height: var.$max-height-limit;
        
        .page{
            display: none;
            max-height: var.$max-height-limit;

            &.active{
                display: block;
            }

            &.contact.active{
                display: flex;
            }
        }
    }
}